.career-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .accordionji {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width:100%;
    overflow: hidden;
    transition: max-height 0.9s ease-out;
    max-height: 50px;
  }
  
  .accordionji button {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #e0f7fa;
    border: none;
    cursor: pointer;
  }
  
  .accordionji.active {
    background-color: #e6f7ff;
    max-height: max-content; /* Slight blue background for active accordion */
  }
  
  .description {
    padding: 10px;
    background-color: #f9f9f9;
    padding-left:30px;
  }

  .makelist1{
    margin-left:30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .makelistlikealist{
    list-style: decimal;
  }
  .edit-this-career-component{
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around !important;
    width:100%;
    gap: 40px;
    position: relative;
  }
  .careerText{
    color:black !important;
    -webkit-text-fill-color: black;
  }

  @media(max-width:768px){
    .edit-this-career-component{
      display: flex !important;
      flex-direction: column !important;
      flex-wrap: wrap !important;
      justify-content: space-around !important;
      width:fit-content;
    }
    .career-container{
      margin-left:4px !important;
    }
    .jobopenings{
      width:90% !important;
    }
    .jobForm{
      width:fit-content !important;
      margin-left:10px !important;
    }
  }