header{
      background-color: #fff;
      text-align: center;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000; 
}

.allHead{
    padding:15px;
    padding-left:25px;
    padding-right:25px;
    box-shadow: 5px 5px 10px 2px #d3cccc;
    border: 1px solid lightgray;
    border-radius: 50px;
}

.mainHead{
    font-size: large;
}

.technologyThing{
    margin-left: -175px;
}
@media(max-width:768px){
    header{
        position: static;
    }
}

.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}