/* header{
      background-color: #fff;
      /* text-align: center; */
      /* position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;  */
/* } */ 
/* .mainlogo{
    position: fixed;
    top:20px;
} */
/* Initial header style */
#myHead {
  background-color: transparent;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
.mainlogo{
  margin-left:67px;
}
@media(max-width:768px){
  .mainlogo{
    margin-left:0px;
  }
}
/* Fixed header style */
#myHead.fixed {
  background-color: #fff;
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}
#myHead.fixed .requestQuoteBtn{
  background-color: #00c4cc;
  color: white;
}

@media(max-width:768px){
  #myHead{
    background-color: #fff;
    position: static;
  }
  #myHead.fixed {
    padding-top:12px;
  }
}


/* @media(max-width:768px){
    .mainlogo{
        position: relative !important;
        margin-top:-30px;
    }
} */
.allHead{
    padding:15px;
    padding-left:25px;
    padding-right:25px;
    /* box-shadow: 5px 5px 10px 2px #d3cccc;
    border: 1px solid lightgray; */
    border-radius: 50px;
    margin-left: 160px;
    /* background-color: white; */
}
.edit-this-service{
  max-width: max-content !important;
}
.mainHead{
    font-size: large;
}

.technologyThing{
    margin-left: -175px;
}
@media(max-width:768px){
    h1{
        margin-top: -146px !important;
        font-size:60px !important;
        text-align: center;
    }
    .heropngEdit{
        position: relative !important;
        top:40px !important;
        left:40px !important;
        width: 75%;
    }
    .container{
        padding-left: 10px;
        padding-right: 25px;
    }
}

.heropngEdit{
    position: relative;
    top:120px;
    left:125px;

}
.heropngEdit1{
    position: relative;
    top:100px;
    left:125px;

}

.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.banner-2{
    padding: 40px 0 230px;
}
.grediant-bg2 {
    background-image: radial-gradient(75vw 75vh at left 0 top 0, #dbfdfe, transparent), radial-gradient(75vw 75vh at left 100% top 0, #6420ff, transparent), radial-gradient(75vw 75vh at left 100% top 100%, #00c4cc, transparent), radial-gradient(75vw 75vh at left 0 top 100%, #7d2ae7, transparent);
}
section{
    position:relative;
}
.wave-shape{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
span{
    background: linear-gradient(115deg, #00c4cc, #6420ff, #7d2ae7);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.order-lg-1 {
    order: 1!important;
}
.themeht-btn {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(115deg, #00c4cc, #6420ff, #7d2ae7);
    color: white;
    -webkit-transition: all .3s cubic-bezier(.02, .54, .58, 1);
    -o-transition: all .3s cubic-bezier(.02, .54, .58, 1);
    transition: all .3s cubic-bezier(.02, .54, .58, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-size: 150% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.themeht-btn.dark-btn{
    background: black;
    color: white;
    background-size: inherit;
}

.themeht-btn.dark-btn:hover{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(115deg, #00c4cc, #6420ff, #7d2ae7);
    color: white;
    -webkit-transition: all .3s cubic-bezier(.02, .54, .58, 1);
    -o-transition: all .3s cubic-bezier(.02, .54, .58, 1);
    transition: all .3s cubic-bezier(.02, .54, .58, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-size: 150% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* social media icons */
.card {
    /* width: fit-content;
    height: fit-content; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    gap: 10px;
    position: relative;
    left: 25px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 40px;
    height: 40px;
    /* background: linear-gradient(115deg, #00c4cc, #6420ff, #7d2ae7); */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* transition-duration: .3s; */
  }
  /* instagram*/
  .containerOne{
    background: #d62976;
  }
  .containerOne:hover {
    background: #d62976 !important;
    /* transition-duration: .3s; */
  }
  /* twitter*/
  .containerTwo{
    background: black;
  }
  .logo-twitter{
    fill: white;
  }
  .containerTwo:hover {
    background: black;
    /* transition-duration: .3s; */
  }
  /* linkdin*/
  .containerThree{
    background: #0072b1;
  }
  .containerThree:hover {
    background: #0072b1;
    /* transition-duration: .3s; */
  }
  /* Whatsapp*/
  .containerFour{
    background: #128C7E;
  }
  .containerFour:hover {
    background: #128C7E;
    /* transition-duration: .3s; */
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    /* transition-duration: .3s; */
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    /* animation: slide-in-top 0.3s both; */
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  /* scroll down arrow */
  .scroll-down {
    position: absolute;
    left: 50%;
    /* bottom: 10px; */
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 28px;
    height: 28px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  
  @media(max-width:768px){
    .WebDevHeroCompo{
      width: 100% !important;
      margin-top: -75px;
      margin-left: -36px;
    }
    .HeroImageTestingMAin{
      width:100% !important;
      margin-left:-15px;
      margin-top: -50px;
    }
  }
  


