/* CardTemplate.css */
.sdlc-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
  }
  
  .sdlc-card {
    flex: 0 0 calc(33.33% - 20px); /* Adjust as needed */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    background: linear-gradient(90deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sdlc-card:hover {
    transform: scale(1.02);
  }
  
  .sdlc-card-header {
    float:right;
    /* background-color: #4caf50; */
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50%;
    opacity: 0.2;
  }
  
  .sdlc-card-body {
    padding: 20px;
  }
  
  .sdlc-title {
    /* color: linear-gradient(115deg, #00c4cc, #6420ff, #7d2ae7); */
    margin-bottom: 10px;
    font-size:30px !important;
    background: linear-gradient(115deg, #00c4cc, #6420ff, #7d2ae7);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    
  }
  
  .sdlc-para {
    color: #555;
    text-align: justify;
  }
  